@use "../global" as g;

/*!
component > pagination
------------------------------
*/
.c-pagination {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.c-pagination-item {
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    background-color: var(--color-bg-gray);
    font-size: 14px;

    &--prev {
        @include g.arrow(-135deg);
    }

    &--next {
        @include g.arrow();
    }
}

.is-pagination-active {
    background-color: var(--color-bg-black);
    color: var(--color-font-white);
}
